html,
body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background: rgb(21,34,47);
}

nav{
    display: block;
    padding: 1em;
    border: 3px solid #fff;
    margin: 0;
}

nav a{
    position: relative;
    display: inline-block;
    padding: 1em;
    margin-left: 1em;
    font-size: 1.5em;
    border: 3px solid #fff;
    background: #333;
    color: white;
}

nav a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    opacity: 0.5;
    background: red;
    transition: width .5s;
}

nav a:hover::before{
    width:  100%;
}